#AUTHORIZATION=
#AUTH_KEY=
HISTORY_DISABLED=false
FORCE_NO_HISTORY=true
POW_DIFFICULTY=069ed9
#POW_DIFFICULTY=000032
RETRY_TIMES=3
CONVERSATION_ONLY=false
ENABLE_LIMIT=false
UPLOAD_BY_URL=true
RANDOM_TOKEN=false
ENABLE_GATEWAY=true
AUTO_SEED=true
#API_PREFIX=your_prefix
CHATGPT_BASE_URL=https://chatgpt.com
#PROXY_URL=your_first_proxy, your_second_proxy
SCHEDULED_REFRESH=false
NO_SENTINEL=true
